<div class="fbf-chip rt-circuit-capacity">
  <div class="rt-circuit-capacity__bar {{this._capacityBarClass}}" style={{this._capacityBarStyles}}>
    <p>
      <strong>{{@model.capacityLeft}}</strong> left
      <span class="text--divider">&middot;</span> {{@model.userCapacity}} capacity
    </p>
  </div>
  <p>
    <strong>{{@model.capacityLeft}}</strong> left
    <span class="text--divider">&middot;</span> {{@model.userCapacity}} capacity
  </p>
</div>
