<div class="fbf-chip rt-circuit-capacity" {{did-insert (fn this.scheduleAnimation)}}>
  <div class="rt-circuit-capacity__bar context--dark {{this._capacityBarClass}} {{unless this.startAnimation "rt-circuit-capacity__bar--before"}}"
    style={{this._capacityBarStyles}}
  >
    <p>
      <strong>{{@model.capacityLeft}}</strong> left
      <span class="text--divider">&middot;</span>
      <span class="text--muted">{{@model.userCapacity}} places</span>
    </p>
  </div>
  <p>
    <strong>{{@model.capacityLeft}}</strong> left
    <span class="text--divider">&middot;</span>
    <span class="text--muted">{{@model.userCapacity}} places</span>
  </p>
</div>
