<FbfDataTableRow @click={{true}}>
  <FbfDataTableCell @isFixedLeft={{true}} @click={{this.openRun}}>
    <p class="text--h6">{{@model.cityCapitalized}}</p>
  </FbfDataTableCell>
  <FbfDataTableCell @isNumeric={{true}} @click={{this.openRun}}>
    <p class="text--muted" title={{@model.date}}>{{@model.dateCompact}}</p>
  </FbfDataTableCell>
  {{#if @showTravelTime}}
    <FbfDataTableCell>
      <TravelTime @model={{@model}} @transportMode={{@transportMode}}/>
    </FbfDataTableCell>
  {{/if}}
  {{#if @showMinAge}}
    <FbfDataTableCell @isNumeric={{true}} @click={{this.openRun}}>
      <p class="text--muted">{{@model.minAge}}</p>
    </FbfDataTableCell>
  {{/if}}
  {{#if @showCompetitions}}
    <FbfDataTableCell @click={{this.openRun}}>
      <CompetitionsIndicator @circuits={{@model.competitionsMap}}/>
    </FbfDataTableCell>
  {{/if}}
  <FbfDataTableCell @click={{this.openRun}}>
    <CircuitsIndicator @model={{@model}}/>
  </FbfDataTableCell>
  <FbfDataTableCell @click={{this.openRun}}>
    <div class="fbf-layout--flow-down">
      {{#if @model.cancelled}}
        <FbfBadge @color="red" @fixedWidth={{false}}>Canceled</FbfBadge>
      {{else}}
        <p class="text--muted text--dense">Awaiting to open ...</p>
      {{/if}}
      {{#each (take 3 @model.delftUsers) as |user|}}
        <ProfilePicture @model={{user}} @hasTooltip={{true}}/>
      {{/each}}
    </div>
  </FbfDataTableCell>
  <FbfDataTableCell>
    <OrganizationLink @model={{@model}}/>
  </FbfDataTableCell>
</FbfDataTableRow>
