<FbfDataTable
  @hasFixedLeftColumns={{true}}
  @fixedLeftWidth={{3}}
  @rowHeight={{if this.responsive.isDesktopWidth "medium" "small"}}
  class="rt-table rt-table--antimargin"
  as |components|
>
  <components.body>
    <FbfDataTableRow>
      <FbfDataTableHeader @isFixedLeft={{true}}>
        City
      </FbfDataTableHeader>
      <FbfDataTableHeader @isNumeric={{true}} @minWidth={{120}}>
        Date
      </FbfDataTableHeader>
      {{#if @showTravelTime}}
        <FbfDataTableHeader>
          <span class="fbf-layout--flow-right">
            Travel time
            <TraveltimeBetaNotice/>
          </span>
        </FbfDataTableHeader>
      {{/if}}
      {{#if @showAge}}
        <FbfDataTableHeader @isNumeric={{true}}>
          Minimum age
        </FbfDataTableHeader>
      {{/if}}
      {{#if @showCompetitions}}
        <FbfDataTableHeader>
          Competitions
        </FbfDataTableHeader>
      {{/if}}
      <FbfDataTableHeader>
        Distances
      </FbfDataTableHeader>
      <FbfDataTableHeader @minWidth={{220}}>
        Status
      </FbfDataTableHeader>
      <FbfDataTableHeader @minWidth={{250}}>
        Organizer
      </FbfDataTableHeader>
    </FbfDataTableRow>
    {{#each @model as |run|}}
      <RunsListItem
        @model={{run}}
        @showCompetitions={{@showCompetitions}}
        @showTravelTime={{@showTravelTime}}
        @showAge={{@showAge}}
        @transportMode={{@transportMode}}
      />
    {{/each}}
  </components.body>
</FbfDataTable>
