<FbfDataTableRow @click={{true}} class={{if @model.delftUsers.length "rt-run-list-item--large"}}>
  <FbfDataTableCell @isFixedLeft={{true}} @click={{this.openRun}}>
    <p class="text--h6">{{@model.cityDisplay}}</p>
  </FbfDataTableCell>
  <FbfDataTableCell @isNumeric={{true}} @click={{this.openRun}}>
    <p class="text--muted" title={{@model.date}}>{{@model.dateCompact}}</p>
  </FbfDataTableCell>
  {{#if @showTravelTime}}
    <FbfDataTableCell>
      <TravelTime @model={{@model}} @transportMode={{@transportMode}}/>
    </FbfDataTableCell>
  {{/if}}
  {{#if @showMinAge}}
    <FbfDataTableCell @isNumeric={{true}} @click={{this.openRun}}>
      <p class="text--muted">{{@model.minAge}}</p>
    </FbfDataTableCell>
  {{/if}}
  {{#if @showCompetitions}}
    <FbfDataTableCell @click={{this.openRun}}>
      <CompetitionsIndicator @circuits={{@model.competitionsMap}}/>
    </FbfDataTableCell>
  {{/if}}
  <FbfDataTableCell @click={{this.openRun}}>
    <CircuitsIndicator @model={{@model}}/>
  </FbfDataTableCell>
  <FbfDataTableCell @click={{this.openRun}}>
    <div class="fbf-layout--flow-down">
      {{#if @model.cancelled}}
        <FbfBadge @color="red" @fixedWidth={{false}}>Canceled</FbfBadge>
      {{else}}
        <p class="text--muted text--dense">Awaiting to open ...</p>
      {{/if}}
      {{#if @model.delftUsers.length}}
        <p class="text--muted"><strong>{{@model.delftUsers.length}} runners</strong> from Delft joining</p>
        <div class="rt-local-runners__preview">
          {{#each (take 4 @model.delftUsers) as |user|}}
            <ProfilePicture @model={{user}} @hasTooltip={{true}}/>
          {{/each}}
          {{#if this.hasRunnersOverlow}}
            <div class="rt-local-runners__preview-overflow-indicator">
              <p class="text--h6 text--muted">+{{this.runnersOverflowLength}}</p>
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </FbfDataTableCell>
  <FbfDataTableCell>
    <OrganizationLink @model={{@model}}/>
  </FbfDataTableCell>
</FbfDataTableRow>
