{{#if @isVisible}}
  <div class="rt-settings-panel margin-y-xl">
    <div class="rt-settings-panel__columns">
      <div class="rt-settings-panel__setting">
        <p class="text--h6">Filtered runs</p>
        <FbfCheckbox @value={{true}} {{on "click" (fn @toggleSetting "showCanceled")}}>
          Hide canceled runs
        </FbfCheckbox>
        <FbfCheckbox @value={{true}} {{on "click" (fn @toggleSetting "showPassed")}}>
          Hide runs in the past
        </FbfCheckbox>
      </div>
      <div class="rt-settings-panel__setting">
        <p class="text--h6">Show columns</p>
        <FbfCheckbox @value={{true}} @disabled={{true}}>
          Competitions
        </FbfCheckbox>
        <FbfCheckbox @value={{true}} {{on "click" (fn @toggleSetting "showTravelTime")}}>
          Travel time
        </FbfCheckbox>
        <FbfCheckbox @value={{true}} {{on "click" (fn @toggleSetting "showMinAge")}}>
          Minimum age
        </FbfCheckbox>
      </div>
      <div class="rt-settings-panel__setting">
        <span class="fbf-layout--flow-right">
          <p class="text--h6">Travel time (beta)</p><TraveltimeBetaNotice/>
        </span>
        <FbfTextField @label="Your location" @value="Delft" @disabled={{true}}/>
        <p class="text--muted margin-top-md">Calculate time based on ...</p>
        <FbfRadio @value="car" @selectedValue={{@transportMode}} @change={{@changeTransportMode}}>
          Car
        </FbfRadio>
        <FbfRadio @value="transit" @selectedValue={{@transportMode}} @change={{@changeTransportMode}}>
          Public transport
        </FbfRadio>
      </div>
      <div class="rt-settings-panel__setting max-block-width-3">
        <p class="text--h6">Minimum age</p>
        <p class="text--muted">Filter runs where you don't meet the age requirements</p>
        <FbfTextField @label="Your age" @change={{@filterMinAge}}/>
      </div>
    </div>

    <div class="fbf-list-item bg-grey--50 bg-gradient-notice border-radius-sm margin-y-md max-block-width-5">
      <FbfIcon @color="blue">
        info_outlined
      </FbfIcon>
      <div class="fbf-list-item__lines">
        <p>Some features are in beta. Have ideas for features? <a href="https://matrix.to/#/+runtracker:matrix.org">Let us know in the chat</a>!</p>
      </div>
    </div>

    <div class="fbf-layout--flow-right">
      <FbfButton {{on "click" @dismiss}} @type="raised">Close</FbfButton>
    </div>
  </div>
{{/if}}
