<div class="rt-runs-page fbf-layout__center-column fbf-layout__center-column--margin-vertical">
  <div class="fbf-card--base border-radius-sm content-padding-lg">
    <div class="rt-runs-page__header">
      <h1 class="text--h2 text--thin">
        Survivalruns
      </h1>
      <span class="fbf-layout__spanner"></span>
      <SeasonPicker
        @selectSeason={{this.selectSeason}}
        @value={{this.showSeason}}
        @displayValue={{this.seasonDisplay}}
      />
    </div>
    <div class="fbf-layout--flow-right">
      <FbfIcon>search</FbfIcon>
      <FbfTextField @label="Search" @isCompact={{true}} @value={{this.nameFilter}} @change={{this.changeNameFilter}} class="margin-right-md"/>
      <FbfButton @color="grey" {{on "click" this.toggleSettingsPanel}}>
        <FbfIcon>settings</FbfIcon>
        settings
      </FbfButton>
    </div>
    <SettingsPanel
      @toggleSetting={{this.toggleSetting}}
      @isVisible={{this.isSettingsPanelExpanded}}
      @dismiss={{this.toggleSettingsPanel}}

      @transportMode={{this.transportMode}}
      @changeTransportMode={{this.changeTransportMode}}
      @ageFilter={{this.ageFilter}}
      @changeAgeFilter={{this.changeAgeFilter}}
    />
    <RunsList
      @model={{this.filteredRuns}}
      @showCompetitions={{this.showCompetitions}}
      @showTravelTime={{this.showTravelTime}}
      @showAge={{this.showAge}}
      @transportMode={{this.transportMode}}
    />
    <div class="content-padding-md fbf-layout--flex-center">
      <SeasonPicker
        @selectSeason={{this.selectSeason}}
        @value={{this.showSeason}}
        @displayValue={{this.seasonDisplay}}
      />
    </div>
  </div>
</div>
